h1{
    text-align: center;

}

.principal{
    margin: 5% 26%;
    padding: 20px 40px;
    border: 1px solid black;
}

.Box-1{
    background-color: #4F80E0;
    color: white;
    padding: 7px;
    
}
#SubTitulo{
    color:#2f6eec;
    text-align: center;
}

.Box-2{
    border: 3px dashed #2f6eec;
    padding: 7px;
    
}

#alunos{
    color:green
}
