body{
    background-color: #4a8864;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    max-width: 800px;
    margin: 0 150px;
}


.cabecalho{
    padding: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.cabecalho .container{
    display: flex;
    align-items: center;
}

.cabecalho figure img{
    width: 100%;
    max-width: 140px;
}

.cabecalho .cabecalho_logoPicpro{
    border-right: 1px solid white;
    margin-right: 15px;
}

.secaoDetalhesConta{
    color: white;
    padding: 60px 0 30px;
}



.ImgUsuario {
    display: flex;
    width: 100%;
    max-width: 35px;
 
}

.ImgUsuario img{
    margin: 0 15px;
    transform:translate(-250%); 
}


.secaoDetalhesConta_sobreUsuario{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}

.secaoDetalhesConta_sobreUsuario_nome{
    display: flex;
    align-items: center;
}

.secaoDetalhesConta_sobreUsuario p{
    font-size: 18px;
    margin-left: 10px;
}

.secaoDetalhesConta_sobreUsuario img{
    width: 100%;
    max-width: 50px;
}

.secaoDetalhesConta_sobreUsuario p strong{
    display: block;
    font-weight: bold;
}

.secaoDetalhesConta_sobreSaldo{
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
    
}

.secaoDetalhesConta_sobreSaldo img{
    width: 100%;
    max-width: 35px;
    display: inline-block;
    transform:translate(-770%);
    padding-top: 25px;
    

    
}

.secaoDetalhesConta_sobreSaldo p{
    font-size: 18px;
    line-height: 22px;

}

.secaoDetalhesConta_sobreSaldo p strong{
    display:block;
    font-weight: 600;
}

.secaoDetalhesConta_sobreSaldo button{
    background-color: white;
    border: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 60px;
    border-radius: 10px;
    cursor: pointer;
}

.secaoDetalhesConta_opcoesTransacoes{
    display: flex;
    justify-content: space-between;
    
}

.secaoDetalhesConta_opcoesTransacoes li{
    background-color:  #1f6f54;
    width:  170px;
    height: 170px;
    border-radius: 20px;
    padding: 20px 20px;
    
}

.secaoDetalhesConta_opcoesTransacoes li img{
    width:  100%;
    max-width: 40px;
    
    
}
.secaoDetalhesConta_opcoesTransacoes li p{
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    line-height: 25px;
    max-width: 80px;
    
}

.secaoTransacao{
    background-color: white;
    border-radius: 20px 20px 0 0;
    border-bottom: 15px solid #f0f0f0;
    padding: 30px;
    min-height: 450px;
   
}

.secaoTransacao .container div{
    display: none;

}

.secaoTransacao .container div.mostrar{
    display: block;

}

.secaoTransacao_avisoSelecao p{
    font-size: 35px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    padding: 30px 60px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.secaoTransacao_avisoSelecao img{
    width: 100%;
    margin: 30px 0 90px;

}

.secaoTransacao_qrCode{
    text-align: center;
}

.secaoTransacao_qrCode img{
    max-width: 180px;
}

.secaoTransacao_qrCode p {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;

}

.secaoTransacao_qrCode button{
    background-color: #4a8864;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    margin: 50px 0 20px;
    padding: 15px 150px;
    cursor: pointer;

}

.secaoTransacao_qrCode a{
    display:block;
    color:black;
    font-weight: bold;

}

.secaoTransacao_pix img{
    width: 100%;
    max-width: 150px;


}

.secaoTransacao_boxOpcao{
    display: flex;
    align-items: center;
    border: 1px solid #d4d4d4;
    max-width: 500px;
    padding: 14px 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    margin: 20px 0;
}

.secaoTransacao_boxOpcao img{
    width: 100%;
    max-width: 80px;
    margin-right: 10px;

}

.secaoTransacao_boxOpcao p{
    font-size: 16px;
    line-height: 20px;

}

/*.secaoTransacao_boleto{

}*/

.secaoTransacao_boleto img{
    width: 100%;
    max-width: 80px;
    
}

.secaoTransacao_boleto h2{
    font-size: 20px;
    font-weight: 600;

}

.secaoTransacao_boleto p{
    font-size: 18px;
    max-width: 500px;
    margin: 20px 0;

}

.secaoTransacao_boleto input{
    width: 100%;
    background-color: #f4f4f4;
    font-size: 16px;
    height: 50px;
    padding: 0 80px;
    border-radius: 10px;
    border: 1px solid #d2d2d2;
    color: black;
    box-sizing: border-box;
    
}

/*.secaoTransicao_cobrar{

}*/

.secaoTransicao_cobrar img{
    width: 100%;
    max-width: 80px;
    
}

.secaoTransicao_cobrar h2{
    font-size: 20px;
    font-weight: 600;

}

.secaoTransicao_cobrar p{
    font-size: 18px;
    max-width: 500px;
    margin: 20px 0;
    
}

.secaoTransicao_cobrar .secaoTransacao_boxOpcao{
    margin-left: 10px;

}

.rodape{
    background-color: white;

}

.rodape_menuPrincipal{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.rodape_menuPrincipal li{
    text-align: center;

}

.rodape_menuPrincipal li a{
    color: black;
    text-decoration: none;
}

.rodape_menuPrincipal li a img{
    width: 100%;
    max-width: 40px;
    
}

.rodape_menuPrincipal li a p{
    margin-top: 20x;
    
}

.rodape_menuItem_pagar{
    transform: translateY(-25px);

}
.rodape_menuPrincipal .rodape_menuItem_pagar a img{
    max-width: 80px;

}
